* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
}

header {
    padding: 10px 20px;
    margin-bottom: 25px;
}

nav>img {
    width: 216px;
    height: 64px;
}

nav>img:hover {
    cursor: pointer;
}

article {
    margin-bottom: 30px;
}

article>section {
    padding-left: 40px;
}

article>section>h1 {
    font-size: 35px;
    font-weight: bold;
}

article>section>p {
    font-size: 20px;
}


article>section>button {
    font-size: 20px;
    width: 200px;
    height: 40px;
    background-color: rgba(7, 148, 242, 0.93);
    border-radius: 8px;
    color: white;
}

article>section>p>a {
    text-decoration: none;
    color: rgba(7, 148, 242, 0.93);
}


footer {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    margin-bottom: 20px;
}

footer>.footer-content>div {
    height: 32px;
}

footer>.footer-content>.left>img {
    width: 108px;
    height: 32px;
    margin-bottom: 10px;
}

footer>.footer-content>.right>img {
    height: 20px;
    width: 20px;
}

footer p {
    font-size: smaller;
    line-height: 1.5;
    margin: 0;
}

@media screen and (min-width: 769px) {
    footer {
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    article>section>h1 {
        font-size: 25px;
    }

    article>section>p {
        font-size: 15px;
    }


    article>section>button {
        font-size: 15px;
        width: 170px;
        height: 40px;
        background-color: rgba(7, 148, 242, 0.93);
        border-radius: 8px;
        color: white;
    }

    footer {
        flex-direction: column;
    }

}